<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DBCS"
			 connectionString="data source=localhost\SQLEXPRESS;Integrated Security=SSPI;database=tempdb"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<services>
			<service name="ClassLibrary2.Service1" behaviorConfiguration="mexBehaviour">
				<endpoint address="ClassLibrary2" binding="basicHttpBinding" contract="ClassLibrary2.IService1">
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8080/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
